Bag Attributes
    friendlyName: cjf100067.poc.local
subject=/CN=cjf100067.poc.local
issuer=/CN=HUYDOLAB-CA
-----BEGIN CERTIFICATE-----
MIIFmTCCBIGgAwIBAgIUDf3DOi5AwKTL7+S3nhw9YyN8eKswDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLSFVZRE9MQUItQ0EwHhcNMjUxMjMwMTcxMjE2WhcNMzMx
MTIxMTAwMzA2WjAeMRwwGgYDVQQDDBNjamYxMDAwNjcucG9jLmxvY2FsMIICIjAN
BgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAqm99bWFa/kYFTttiXKd7mOdE6wve
Z3G3RzpDLaRrJgfUHLhQVaKqSYXLTqSMBk/f+8cYo4eU12SnwMVUkeSMyWrUHIoj
0O4NFjyy6E7x41lrVkCzUg2MLKOV7gFxGHNRipUuKL6ejfWUuY4BURTNn5+FkeyB
rSDS3OXeyG4eUwmtwlsoZ2WlBVMtymvm6kaegvRZKOPku7eoQx/MFKiN6H+A7TPd
UZI18wU5nmGp2kwGOveSYAxBvHfXpSNggV/4SOdKmQzNKamgSf9OJOrCwy/n66Q+
dhcsYkjRCJUTCmZ3fXaQFl2Zw9nof8QeQkSVAaRG5JVTG5C97/dS4NrAJhkuI9lA
6pRP4XGXmlnUwhMiKb7mN8dkiZkR53OyNk0CAlz0A/Si8K7BNg6S518MCn24By/f
cwuJ02ed3+uV19ub90RQTXuC+sD5ibefF70W0UmePRp2tMfR7N+4NYW9ygvaYRjy
49N+2xt2IKgh+Dy2fYJAxIE+5xXXg6vv0UGWhc5A2bYxm7lWuSyebijd2A6h8fSK
TcwNyovgzpXmHpU21ChemDBaAxRYDgTQo9+5buIex6ACQAel+Vy7ID20aYs+dh14
D5zk0yv4J9ahCvhux9gzAE7nzNjdLGUBw3XrdidDRUJZzfv5sBT+gTCsdVP1MTfM
pUCm40HsW2achJMCAwEAAaOCAdUwggHRMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgw
FoAU9wfHDavs5ZyrHR8ERZ0s/N3SZ3wwFgYDVR0RBA8wDYILKi5wb2MubG9jYWww
ggFXBgNVHSUEggFOMIIBSgYEVR0lAAYLKoFLtxgBAZbIfwEGCyqBS7cYAQGWyH8C
BggrBgEFBQcDAgYIKwYBBQUHAwMGCCsGAQUFBwMOBggrBgEFBQcDDQYGBACRNwMA
BggrBgEFBQcDBAYGZ4EIAQEIBgZngQgBAQMGCmCGSAGG+E0BAgMGCCsGAQUFBwMR
BgcrBgEFAgMEBgcrBgEFAgMFBgorBgEEAYI3AgEWBgorBgEEAYI3CgMMBgsrBgEE
AYI3CgMEAQYKKwYBBAGCNwoDBAYKKwYBBAGCNwIBFQYKKwYBBAGCNxQCAgYIKwYB
BQUHAwkGCSqGSIb3LwEBBQYIYIZIAWUDBggGCCsGAQUFBwMkBggrBgEFBQcDEAYI
KwYBBQUHAw8GCCsGAQUFBwMUBggrBgEFBQcDFQYIKwYBBQUHAxYGCCsGAQUFBwMB
BggrBgEFBQcDCDAdBgNVHQ4EFgQUa0v6F/ShR+AEwsMl745nBnqoksUwDgYDVR0P
AQH/BAQDAgWgMA0GCSqGSIb3DQEBCwUAA4IBAQCajymnZXOwI8xxHARbvboTaCcQ
LqTzzggRmGOTX4XvjO4Noac5c7i+FsG819EqGKVu47Zg3BC4ONlA3FqGc5SkMHKq
Rz+D6IydCGAtQnRZELZaV1dtTugqT4Ikzl6obc81z1kdyKgGdi9PXcYUH+fY0HyO
s9gdQU9V6BLp6G7gBUOI8y8DOZUBtka3CjPuwrYMo7FEcKlWKaUW+68NPVqH/Rqm
PUwleDODKFTjrau+9wt2ZvWYYvAdyqMYKL1HWEmShfdwG6NeKp+JLYnqlBE203Vg
Ty9aaOek2fX7NI2hQGUDo4qZQgTAkivNT+St2uSuHYpAgzvzSiU0hK1AWi9r
-----END CERTIFICATE-----