Bag Attributes
    friendlyName: cjf100067.poc.local
subject=/CN=cjf100067.poc.local
issuer=/CN=HUYDOLAB-CA
-----BEGIN CERTIFICATE-----
MIIFmjCCBIKgAwIBAgIUNosMR9+sulwI8kCf5GlH+0G8iuswDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLSFVZRE9MQUItQ0EwHhcNMjUxMjMwMTM1ODQ4WhcNMzMx
MTIxMTAwMzA2WjAeMRwwGgYDVQQDDBNjamYxMDAwNjcucG9jLmxvY2FsMIICIjAN
BgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAwJ5pw9g7Wvvps+1VCXUI8QiFdkS1
m5UYNhFfCrDn7kE5ROFEZFje1KBA3VYp5WGAzwCP+aP+J205N2syCX19lZmT9sQ1
XbVLDy6SF6/k3emmG0JPGszWPf8NBsdLiK/hGiE1Yk4l56bNBi/o+t//oX6IO7vw
HoOTzgMpOy7sbvB98y+eMGZMqXUmpAV/KVo12Hd8Oagb5jmg2L+X+fR8F3xxTz/p
wD5K/ccn4UhdnkNWzZDNUGzvXoE+xAhp6KUXljbEqmCJ5E1NAdJxj8Dwzp5hbN7O
vVBEim9gwMWYnFbpVa4D9q/Thw0R8llKjrz9+xUOGQyrjd4J0sWVeph+PSgPnCJT
AUV1s6ZvuAD30s/nGB5KsmM1hsdE5pgc0uArgFn+VNoxHsidha9PibAcpoR2sFUX
BvqAEJU0HsCqqQkJbgjbVrro6KbmgzdAcoW9iBZKbzP5rCVRIPxJStI3rf0x65i0
bsphUCMEXQd0YDzoo3/+/Cxqu0mNvxafkps9IQkVZYb2ur/DyJqXrVXdqyZcVOnB
XxV4EaC2xnAuhG8uUwFTYxB4Wl7n2wHg45h7ITGiUtl4gTUqVZjNUA0if8bfPlU8
ttbS/z75WpNw9glqLV0LUtMB82gabkZtwtMDB4JsIZF3n8uT/CWdzzTuAQxciemw
+vxALpcBols2lisCAwEAAaOCAdYwggHSMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgw
FoAU9wfHDavs5ZyrHR8ERZ0s/N3SZ3wwFwYDVR0RBBAwDoIMKi5kZW1vLmxvY2Fs
MIIBVwYDVR0lBIIBTjCCAUoGBFUdJQAGCyqBS7cYAQGWyH8BBgsqgUu3GAEBlsh/
AgYIKwYBBQUHAwIGCCsGAQUFBwMDBggrBgEFBQcDDgYIKwYBBQUHAw0GBgQAkTcD
AAYIKwYBBQUHAwQGBmeBCAEBCAYGZ4EIAQEDBgpghkgBhvhNAQIDBggrBgEFBQcD
EQYHKwYBBQIDBAYHKwYBBQIDBQYKKwYBBAGCNwIBFgYKKwYBBAGCNwoDDAYLKwYB
BAGCNwoDBAEGCisGAQQBgjcKAwQGCisGAQQBgjcCARUGCisGAQQBgjcUAgIGCCsG
AQUFBwMJBgkqhkiG9y8BAQUGCGCGSAFlAwYIBggrBgEFBQcDJAYIKwYBBQUHAxAG
CCsGAQUFBwMPBggrBgEFBQcDFAYIKwYBBQUHAxUGCCsGAQUFBwMWBggrBgEFBQcD
AQYIKwYBBQUHAwgwHQYDVR0OBBYEFCX0owFzs05d5XbQwIedz8uyMEMzMA4GA1Ud
DwEB/wQEAwIFoDANBgkqhkiG9w0BAQsFAAOCAQEATeFFg61fYR4O0kCd/2oTilv8
1PCUjfTgaONUXqxZ/9VmkWlDKGCvbJSrVdYa7Rphw+hSQCQQIUYF/M8n0Ge836wc
IYCG3gFMwuUEncr7v8U8Y9cUoyyMr6gym3YAtOlKAxAXe9e/pntA+PNHs6NjJ08q
HnEQH+uw/xwaBfSXx9oefeIsCxLUyejFqNU/dRaKFQovlv7YRLxSx9roTyTkdRE3
QzLl8gQA9HODN2rLvH8KWe2r1olwmj655p8ykZr1OsBpKF7GIzYihIdtGU0aSzS7
Jk1eOV2a8wYYB1YeYUv7x2pTOHabHqY8X23B6ss+gYOCvniurCqyxp/5TF4DJA==
-----END CERTIFICATE-----