Bag Attributes
    friendlyName: cjf100066.poc.local
subject=/CN=cjf100066.poc.local
issuer=/CN=HUYDOLAB-CA
-----BEGIN CERTIFICATE-----
MIIFmTCCBIGgAwIBAgIUQQbylpsb3MYZtujozfUEBdqzQBkwDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLSFVZRE9MQUItQ0EwHhcNMjUxMjMwMTcxMTUxWhcNMzMx
MTIxMTAwMzA2WjAeMRwwGgYDVQQDDBNjamYxMDAwNjYucG9jLmxvY2FsMIICIjAN
BgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAkUuMh1W/820DEZ6rI7QI91zo/WnB
GyCfu4TeisjLFJFp7fJj0RRep6E5JF/LUE7dDhdQiwJOwkLctNglgYUOc+a+y4YR
JlPiXjLe4hGixG/1AHoOdQtgLvqHwJnGE+3oGbitVtdsA9BlRvRxOhAXpGA0YnGD
XzHIuMQ3DE/Yn8IkG/PEmfnY1YkecPpoVfrLFZjAeDb5v2FvMcDBOXaC20uPl2p8
xY3z2Wzs+Yslh+J+JgR8wrd/rV+2wpJ1tMK85Lx/RLA9ufWacjUCCeouYHq1/EBz
VKvo4LaZvV6oflEhWbGVTqdj93vPPyl3Q/0atn42t3o0G3TveD/ktxN7Ib3dH2Ha
/5qukhrFi3MfOUl8m9Bn3UKHnKt4Gop52qSXxBtoJ3onHdptQRsekMMrpdDj3k9q
S6q+YlXEdMxpS60iXdfT5VDKNbtrbT9uskKZXAVyccELGi1WPyutie/goN9QB0gd
JbrZymKzuwXrtTzOOQ7MNKLHq3uKKDeSkWedzxzUEy66bKdxRVEa1LWVQMuoS94X
SR12hVcc/HAE/SORdNdnJRkdYA3hHxAUy5pFyEQ4rjkl1C5QOvTqBoQv1Pd7dlHX
eYtp2Unr/4u+0laIu8GOMYZ8fHRwzLbfMv0e0WmMqf0gzte/mU70tQdrIQDp/7Hu
BUYKqLR5lieDGo0CAwEAAaOCAdUwggHRMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgw
FoAU9wfHDavs5ZyrHR8ERZ0s/N3SZ3wwFgYDVR0RBA8wDYILKi5wb2MubG9jYWww
ggFXBgNVHSUEggFOMIIBSgYEVR0lAAYLKoFLtxgBAZbIfwEGCyqBS7cYAQGWyH8C
BggrBgEFBQcDAgYIKwYBBQUHAwMGCCsGAQUFBwMOBggrBgEFBQcDDQYGBACRNwMA
BggrBgEFBQcDBAYGZ4EIAQEIBgZngQgBAQMGCmCGSAGG+E0BAgMGCCsGAQUFBwMR
BgcrBgEFAgMEBgcrBgEFAgMFBgorBgEEAYI3AgEWBgorBgEEAYI3CgMMBgsrBgEE
AYI3CgMEAQYKKwYBBAGCNwoDBAYKKwYBBAGCNwIBFQYKKwYBBAGCNxQCAgYIKwYB
BQUHAwkGCSqGSIb3LwEBBQYIYIZIAWUDBggGCCsGAQUFBwMkBggrBgEFBQcDEAYI
KwYBBQUHAw8GCCsGAQUFBwMUBggrBgEFBQcDFQYIKwYBBQUHAxYGCCsGAQUFBwMB
BggrBgEFBQcDCDAdBgNVHQ4EFgQUrm4D4qxbwVm8P6MTOBJAOP9e2CswDgYDVR0P
AQH/BAQDAgWgMA0GCSqGSIb3DQEBCwUAA4IBAQBtnGg/eXHfk/hGIn5WTm1wLKUD
3vOCPGbd6+rhlwGvsi2Ak3JM6nzKhj3zIlD69t9/yxEyXLqdNkhxzL1YFCulS4iN
9Ro+ycobxj3MWqguHio/zs7T3WSAl6ihIP4baBjZYSUWefjtvqpiOwaNjlaLqRX8
Clmgq9bUbJDsgfxTm0uYm8fnQrjUJIH50aiII/If7RP9L2bjoNd7cgcqEdxDGGQb
rhW1YmLHJWnw5w2RIo+/hPemvCk2bOLvI755Q41LvE1a7YqLbSOiOcSjQvhOiGSg
zh4S4xf+2BtvIr2AsLgX+Q1+VZxYFdUfZZYA/xuftwFOp/6EqEwEtBdLmo9f
-----END CERTIFICATE-----