Bag Attributes
    friendlyName: cjf100066.poc.local
subject=/CN=cjf100066.poc.local
issuer=/CN=HUYDOLAB-CA
-----BEGIN CERTIFICATE-----
MIIFmjCCBIKgAwIBAgIUEgxTxgTx7OMAeavApmFQETOBEtowDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLSFVZRE9MQUItQ0EwHhcNMjUxMjMwMTM1OTA2WhcNMzMx
MTIxMTAwMzA2WjAeMRwwGgYDVQQDDBNjamYxMDAwNjYucG9jLmxvY2FsMIICIjAN
BgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAnWf/003OzEf6vuy/sSVr8H+3FwSt
4qBCVIrRrzPR5Q9ZsOy6j3gtfzxUdOh5Jlzs0P5G9Fvj3wHSV9bKnarNIkJK6mes
cdSFdPd++u7vyipxYwO8NK7puu+TQety39aJ1UjtQyPQXd39DEc2/gU/7onqqgnT
FMudbfv6yyN8wa+sXS9ifW7y/6Ofq5sj9YxZzaCBzJo594sdQFoeL6O62PlIIRE7
ZYG1MWpULttlTjxq9pyooBs+d2rdALNZBaDMSdA1prHHnwOwNlOivmineyBqS0e6
+NjKW8I7gIuyJmWnJeqSC8Lw/3Roy6EMVyxZ8x0cODqS9JM0Xnk523bEXLQCcVAY
y/otWQP5OWnaoUGKYKSokvu6HhflqFvV3sLPVbwgJ8Sd6zFMTkWdOz2hxFoKnugc
AcojYM3sF2P0bfTvIE37+yMAAHTeROw5Ik7See2uE/fOjYBCfCHutDAJ2wgo/Ls0
CqkbKCYhm+b+YsL6KiX3YIfEecZOsOAXe0ASX2z6aGBwLMpGMWuJr+23puSQ3ZUQ
MELlGlPaYWv2hKG/JgQ5gek6t527OAV5INhmAHzG7ADc7UT71sQOHLzoPpEMJE/D
xdc2ySd8onvVT8dpSBI4JI6Ai1RiLgmo9RobxkJitwHks8EVzx96s5lCQm+pu9g/
Dyha4djKjHDxXn0CAwEAAaOCAdYwggHSMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgw
FoAU9wfHDavs5ZyrHR8ERZ0s/N3SZ3wwFwYDVR0RBBAwDoIMKi5kZW1vLmxvY2Fs
MIIBVwYDVR0lBIIBTjCCAUoGBFUdJQAGCyqBS7cYAQGWyH8BBgsqgUu3GAEBlsh/
AgYIKwYBBQUHAwIGCCsGAQUFBwMDBggrBgEFBQcDDgYIKwYBBQUHAw0GBgQAkTcD
AAYIKwYBBQUHAwQGBmeBCAEBCAYGZ4EIAQEDBgpghkgBhvhNAQIDBggrBgEFBQcD
EQYHKwYBBQIDBAYHKwYBBQIDBQYKKwYBBAGCNwIBFgYKKwYBBAGCNwoDDAYLKwYB
BAGCNwoDBAEGCisGAQQBgjcKAwQGCisGAQQBgjcCARUGCisGAQQBgjcUAgIGCCsG
AQUFBwMJBgkqhkiG9y8BAQUGCGCGSAFlAwYIBggrBgEFBQcDJAYIKwYBBQUHAxAG
CCsGAQUFBwMPBggrBgEFBQcDFAYIKwYBBQUHAxUGCCsGAQUFBwMWBggrBgEFBQcD
AQYIKwYBBQUHAwgwHQYDVR0OBBYEFN4cFgP3qY5Kz2ToiW+UROvSqUDoMA4GA1Ud
DwEB/wQEAwIFoDANBgkqhkiG9w0BAQsFAAOCAQEAF4D6NdDTOIW0he55ZD7z4Db1
n+1LmPMi79y3cz+U/HONsrBJwvq70NTkHbmIwImYSpuv/9SBhyMPmr44yWfCKiwj
/Mhw+dyl7cFqtSXASGcdh3bRTjlMD6PXQ3hY4ObITmu6SueM3WWN7pW+2h3axvtD
wj6DInt0eGWkaf+PwOLwL116kjatWsBfvM7S81ZkbQsxuIfx6A9BjZNW/0YpLjmN
pJtuMCfVKJUaXDCpI7DXGzrncT8XsoY4X5zQr/3wsUVufW27C205a3yYJ77hYVu9
tP+lJaLOh43wzd3xAX7fY020w5k07wwPXdrVgp0JAgxm4biDqS/dPs/zHdhG0w==
-----END CERTIFICATE-----